*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.w{
    width: 1519px;
    margin: 0px auto;
}
body{
    background-color: #F7F9FB;
}
a{
    text-decoration: none;
    color: #000;
}
/* 头部模块制作开始 */
.big{
    width: 100%;
    height: 40px;
    background-color: #000;
}
.left{
    width: 385px;
    height: 40px;
    margin-left: 80px;
    float: left;
}

.left li,.right li{
    float: left;
    line-height: 40px;
}
.left li a{
    padding: 0px 42px;
    color: #8A8F99;
    font-size: 12px;
}
.left li a:nth-of-type(1){
    padding-left: 0px;
}
.left li a:nth-of-type(4){
    padding-right: 0px;
}
.left ul li a:hover{
    color: rgb(255, 255, 255);
}
.right{
    width: 305px;
    height: 40px;
    box-sizing: border-box;
    float: right;
    margin-right: 80px;
}

.right ul span{
    color: #8A8F99;
    margin: 0px 18px;
} 
.right ul{
    float: right;
}
.right li:nth-of-type(3){
    margin: 0px 0px 0px 26px;
}
.right li a{
    padding: 0px;
    color: #8A8F99;
    font-size: 12px;
}
.right li a:hover{
    color: rgb(255, 255, 255);
}
.nav_right ul li a:nth-of-type(2){
    margin-left: 26px;
}
/* 头部制作完毕 */

/* 第二个标题栏开始 */
.nav{
    width: 100%;
    height: 86px;
    background-color: #F7F9FB;
}
.big2{
    width: 1360px;
    height: 86px;
    float: left;
    margin: 0px 80px;
    background-color: #F7F9FB;
    /* position: fixed;
    top: 40px;
    left: 80px; */
}
.image{
    width: 130px;
    height: 40px;
    float: left;
    padding-top: 20px;
}

.daohang{
    width: 1205px;
    height: 86px;
    float: left;
}
.daohang ul{
    padding: 0px 203px;
}
.daohang ul li {
    float: left;
    line-height: 86px;
    padding: 0px 23px;
}

.daohang ul li a{
    font-size: 14px;
    color: #242933;
}
.daohang ul li a:hover{
    color: #415fff;
}
.search{
    color: #242933;
    float: right;
}
.search span{
    font-size: 22px;
   margin-top: 30px;
}
.search span:hover{
    color: #415fff;
}
/* 第二个标题栏结束 */

/* 大背景模块开始 */
.bcakground{
    width: 100%;
    height: 600px;
    background-color: rgb(15, 117, 165);
}
.backgroundimg{
    width: 1360px;
    height: 600px;
    background: url(../img/2.png) no-repeat;
    background-size: 1520px;
}
.font{
    width: 193px;
    height: 54px;
}
.font img{
    width: 193px;
    height: 54px;
    position: relative;
    top: 140px;
    left: 370px;
}
.title{
    width: 205px;
    height: 60px;
    line-height: 60px;
    position: relative;
    color: #242933;
    top: 158px;
    left: 370px;
    font-size: 32px;
    font-weight: 550;
    text-align: center;
}
.price{
    width: 205px;
    height: 64px;
    color: #242933;
    position: relative;
    top: 205px;
    left: 370px;
    font-size: 22px;
    text-align: center;
}
/* 大背景模块结束 */

/* 手机模块开始 */
.mobile_phone{
    width: 1360px;  
    height: 386px;
    background-color: #fff;
    border-radius: 15px;
    margin: -8px 80px 0px 80px;
}
.mp{
    float: left;
}
.mobile_phone ul li{
    float: left;
    padding-top: 63px;
}
.mobile_phone ul li a{
    display: block;
    width: 226px;
    height: 198px;
}
.mobile_phone ul li a img{
    width: 155px;
    height: 155px;
    padding: 0 45px;
}
.mobile_phone ul li a p{
    text-align: center;
    margin-top: 26px;
}
.icon{
    width: 1360px;
    height: 42px;
    float: left;
    margin-top: 45px;
}
.icon span{
   float: left;
    width: 55px;
    height: 42px;
    background-color: rgb(247, 248, 250);
    border-radius: 15px;
    text-align: center;
    line-height: 42px;
    font-size: 25px;
    color: #606570;
}
.icon span:nth-of-type(2){
    float: right;
}
.juzhong{
    width: 145px;
    height: 42px;
    margin: 0 auto;
}
.icon span:hover{
    cursor: pointer;
    color: #415fff;
}
/* 手机模块结束 */

/* 大手机模块开始 */
.big3{
    width: 1360px;
    height: 565px;
    float: left;
    margin: 40px 80px 0px 80px;
    border-radius: 15px;
}
.img4{
    width: 835px;
    height: 565px;
    float: right;
    margin-top: -86px;
}
.img4 img{
    width: 835px;
    height: 565px;
    border-radius: 15px;
    float: right;
}
.font1{
    width: 197px;
    height: 28px;
    position: relative;
    top: 160px;
}
.font1 img{
    width: 197px;
    height: 28px;
}
.title1{
    width: 294px;
    height: 57px;
    position: relative;
    top: 170px;
    font-size: 48px;
    color: #242933;
}
.but{
    width: 283px;
    height: 50px;
    float: left;
    position: relative;
    top: 220px;
}
.but1{
    display: block;
    float: left;
    width: 141px;
    height: 50px;
    background-color: #415fff;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.but1:hover{
    background-color: #7389FF;
}
.but a:nth-of-type(2){
    display: block;
    float: right;
    font-size: 18px;
    line-height: 50px;
    color: #242933;
}
.but a:nth-of-type(2):hover{
    color: #415fff;
}
.but a:nth-of-type(2):hover span{
    color: #415fff;
    border: 1px solid #415fff;
}
.but span{
    display: block;
    float: right;
    margin-top: 10px;
    width: 39px;
    height: 27px;
    border-radius: 15px;
    color: #242933;
    font-size: 22px;
    border: 1px solid #242933;
    text-align: center;
    line-height: 27px;
}
/* 大手机模块结束 */

/* 第二个大手机开始 */
.big4{
    width: 1360px;
    height: 565px;
    float: left;
    margin: 40px 80px 50px 80px;
    border-radius: 15px;
}
.img5{
    width: 835px;
    height: 565px;
    float: left;
}
.img5 img{
    width: 835px;
    height: 565px;
    border-radius: 15px;
    float: right;
}
.font2{
    width: 91px;
    height: 28px;
    float: left;
    position: relative;
    top: 160px;
    left: 120px;
}
.font2 img{
    width: 91px;
    height: 28px;
}
.title2{
    width: 406px;
    height: 65px;
    position: relative;
    float: right;
    top: 190px;
    left: 0px;
    font-size: 48px;
    color: #242933;
}
.but2{
    width: 283px;
    height: 50px;
    float: left;
    position: relative;
    top: 230px;
    left: 120px;
}
.but1{
    display: block;
    float: left;
    width: 141px;
    height: 50px;
    background-color: #415fff;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.but1:hover{
    background-color: #7389FF;
}
.but2 a:nth-of-type(2){
    display: block;
    float: right;
    font-size: 18px;
    line-height: 50px;
    color: #242933;
}
.but2 a:nth-of-type(2):hover{
    color: #415fff;
}
.but2 a:nth-of-type(2):hover span{
    color: #415fff;
    border: 1px solid #415fff;
}
.but2 span{
    display: block;
    float: right;
    margin-top: 10px;
    width: 39px;
    height: 27px;
    border-radius: 15px;
    color: #242933;
    font-size: 22px;
    border: 1px solid #242933;
    text-align: center;
    line-height: 27px;
}
/* 第二个大手机结束 */

/* 三个手机模块开始 */
.title3{
    width: 1360px;
    height: 100px;
    float: left;
    margin-left: 80px;
}
.title3 h5{
    font-size: 40px;
}
.title3 a{
    display: block;
    width: 200px;
    height: 28px;
    font-size: 24px;
    margin-top: 15px;
}
.title3 a:hover{
    color: #415fff;
}
.big5{
    width: 1360px;
    height: 630px;
    background-color: rgb(255, 255, 255);
    float: left;
    border-radius: 15px;
    margin: 30px 0px 50px 80px;
}
.three ul{
    width: 1057px;
    height: 548px;
    margin: 50px 151px 0px 151px;
}

.three li{
    float: left;
    width: 317px;
    height: 539px;
}
.three li:nth-of-type(2){
    margin: 0px 53px;
}
.three img{
    width: 317px;
    height: 317px;
}
.three h3{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #242933;
}
.color span{
    display: block;
    box-sizing: border-box;
    float: left;
    width: 34px;
    height: 28px;
    border-radius: 20px;
    background-color: #ffe1ae;
    margin: 0px 15px; 
}
.color{
    width: 230px;
    height: 36px;
    margin: 20px 0px 0px 35px;
}
.color span:nth-of-type(2){
    background-color: #2b343d;
}.color span:nth-of-type(3){
    background-color: #678aa9;
}
.color em{
    display: block;
    width: 32px;
    height: 19px;
    font-style: normal;
    float: left;
    line-height: 28px;
    color: #8A8F99;
    font-weight: 600;
}
.jiage{
    width: 200px;
    height: 52px;
    background-color: #415fff;
    border-radius: 25px;
    margin: 10px 0px 20px 50px;
    font-size: 20px;
    text-align: center;
    line-height: 52px;
    color: rgb(255, 255, 255);
}
.jiage:hover{
    background-color: #7389FF;
    cursor: pointer;
}
.gengduo{
    width: 317px;
    height: 28px;
    color: #242933;
    font-size: 20px;
    text-align: center;
}
.gengduo:hover a{
    color: #415fff;
}
/* 三个手机模块结束 */

/* 精选配件模块开始 */
.title4{
    width: 1360px;
    height: 100px;
    float: left;
    margin-left: 80px;
}
.title4 h5{
    font-size: 40px;
}
.title4 p{
    font-size: 24px;
    margin-top: 15px;
}

.big6{
    width: 1360px;
    height: 1233px;
    margin: 50px 0px 0px 80px;
    float: left;
    /* background-color: rgb(162, 182, 109); */
}
.small1{
    width: 662px;
    height: 813px;
    border-radius: 15px;
    float: left;
    background-color: rgb(62, 146, 185);
    background: url(../img/7.jpg);
}
.small1 img{
    width: 226px;
    height: 23px;
    position: relative;
    top: 100px;
    left: 50px;
}
.small1 p{
    font-size: 38px;
    margin: 100px 0px 30px 50px;
}
.small1 a{
    display: block;
    width: 115px;
    height: 27px;
    float: left;
    font-size: 18px;
    margin-left: 50px;
    color: #242933;
}
.small1 a:hover{
    color: #415fff;
}
.small1 a:hover span{
    border: 1px solid #415fff;
}
.small1 span{
    display: block;
    float: right;
    width: 39px;
    height: 27px;
    border: 1px solid #242933;
    border-radius: 15px;
    text-align: center;
    line-height: 27px;
}
.small2{
    width: 662px;
    height: 388px;
    border-radius: 15px;
    float: right;
    background: url(../img/8.jpg);
}
.small2 img{
    width: 250px;
    height: 20px;
    position: relative;
    top: 100px;
    left: 50px;
}
.small2 p,.small3 p,.small4 p,.small5 p{
    font-size: 38px;
    margin: 100px 0px 30px 50px;
}
.small2 a,.small3 a,.small4 a{
    display: block;
    width: 115px;
    height: 27px;
    float: left;
    font-size: 18px;
    margin-left: 50px;
    color: #242933;
}
.small2 span,.small3 span,.small4 span{
    display: block;
    float: right;
    width: 39px;
    height: 27px;
    border: 1px solid #242933;
    border-radius: 15px;
    text-align: center;
    line-height: 27px;
}
.small2 a:hover{
    color: #415fff;
}
.small2 a:hover span{
    border: 1px solid #415fff;
}
.small3{
    width: 662px;
    height: 388px;
    border-radius: 15px;
    margin-top: 37px;
    float: right;
    background: url(../img/9.jpg);
}
.small3 img{
    width: 181px;
    height: 20px;
    position: relative;
    top: 100px;
    left: 50px;
}
.small3 a:hover{
    color: #415fff;
}
.small3 a:hover span{
    border: 1px solid #415fff;
}
.small4{
    width: 662px;
    height: 388px;
    border-radius: 15px;
    background: url(../img/10.jpg);
    float: left;
    margin-top: 32px;
}
.small4 img{
    width: 187px;
    height: 20px;
    position: relative;
    top: 100px;
    left: 50px;
}
.small4 a:hover{
    color: #415fff;
}
.small4 a:hover span{
    border: 1px solid #415fff;
}
.small5{
    width: 662px;
    height: 388px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 32px;
}
.sm_title{
    font-size: 18px;
    color: #242933;
    margin: -20px 0px 0px 50px;
}
.small5 span{
    display: block;
    width: 82px;
    height: 58px;
    border-radius: 20px;
    color: #242933;
    border: 1px solid #242933;
    position: relative;
    top: 80px;
    left: 450px;
    text-align: center;
    line-height: 58px;
    font-size: 50px;
}
.small5 span:hover{
    color: #145fff;
    border: 1px solid #415fff;
    cursor: pointer;
}
/* 精选配件模块结束 */

/* 底部模块开始 */
.bottom{
    width: 1519px;
    height: 600px;
    background-color: #242933;
    float: left;
    margin-top: 80px;
}
.logo{
    width: 200px;
    height: 35px;
    margin: 80px 0px 80px 80px;
}
.logo img{
    width: 150px;
}
.state{
    margin-left: 80px;
}
dl{
    float: left;
}
.dl1{
    margin-left: 100px;
    float: left;
}
.state dt{
    color: #fff;
    font-size: 16px;
    padding-bottom: 25px;
}
.state dd  a{
    color: #8a8f99;
    font-size: 14px;
   
}
.state dd{
    line-height: 30px;
}
dd a:hover{
    color: #415fff;
}
.cif{
    width: 363px;
    height: 220px;
    float: right;
    box-sizing: border-box;
    padding-left: 80px;
}
.cif a{
    display: block;
    color: #c2c5cc;
    font-size: 16px;
    margin-bottom: 15px;
}
.cif p{
    color: #c2c5cc;
    font-size: 16px;
}
.cif em{
    font-style: normal;
    font-size: 28px;
    color: #415fff;
}
.cif a:nth-of-type(2){
    font-size: 14px;
}
.wx img{
    width: 150px;
}
.jieshu{
    float: left;
    margin: -45px 0px 0px 260px;
}
.jieshu ul li{
    float: left;
    padding: 0px 15px;
    border-right: 1px solid #8a8f99;
}
.jieshu a{
    color: #8a8f99;
}
.jieshu li:nth-of-type(6){
    border: none;
}
/* 底部模块结束 */
.fix a{
    display: block;
    position: fixed;
    right: 0;
    bottom: 55px;
    border-radius: 25px;
    text-align: center;
    line-height: 48px;
    font-size: 35px;
    width: 72px;
    height: 48px;
    background-color: rgba(87,92,102,.4);
    color: #fff;
}